.ff0{font-family:sans-serif;visibility:hidden;}
/* @font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;} */
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-5.316000px;}
._6{margin-left:-4.272000px;}
._8{margin-left:-2.772000px;}
._4{margin-left:-1.628000px;}
._0{width:1.848000px;}
._1{width:3.168000px;}
._3{width:4.620000px;}
._2{width:8.976000px;}
._7{width:28.424000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:32.000000px;}
.fs3{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs2{font-size:48.000000px;}
.y24{bottom:2.163000px;}
.y20{bottom:3.378994px;}
.ya{bottom:3.378998px;}
.y18{bottom:3.379002px;}
.y1a{bottom:4.379000px;}
.y36{bottom:5.379002px;}
.y25{bottom:8.129000px;}
.y23{bottom:13.878000px;}
.y9{bottom:16.028000px;}
.y1f{bottom:17.027996px;}
.y17{bottom:17.028004px;}
.y35{bottom:21.028004px;}
.y8{bottom:28.677002px;}
.y16{bottom:30.676998px;}
.y34{bottom:34.677006px;}
.y28{bottom:39.396997px;}
.y7{bottom:41.326000px;}
.y1e{bottom:44.325996px;}
.y15{bottom:44.326000px;}
.y33{bottom:48.326008px;}
.y27{bottom:49.244999px;}
.y6{bottom:53.975002px;}
.y1d{bottom:57.974997px;}
.y14{bottom:57.975002px;}
.y32{bottom:61.975002px;}
.y2a{bottom:63.197996px;}
.y5{bottom:66.624001px;}
.yd{bottom:68.558001px;}
.y1c{bottom:71.623997px;}
.y13{bottom:71.624001px;}
.y31{bottom:75.624004px;}
.y0{bottom:77.500000px;}
.y37{bottom:77.845001px;}
.y4{bottom:79.273001px;}
.yc{bottom:80.273001px;}
.y12{bottom:84.296001px;}
.y30{bottom:89.273006px;}
.y3{bottom:91.922001px;}
.yb{bottom:92.922001px;}
.y39{bottom:93.219000px;}
.y3a{bottom:94.153000px;}
.y11{bottom:97.945000px;}
.y2f{bottom:102.922005px;}
.y38{bottom:105.868000px;}
.y10{bottom:111.594000px;}
.y2e{bottom:116.571005px;}
.yf{bottom:127.243000px;}
.y2d{bottom:130.220005px;}
.y2c{bottom:193.983004px;}
.y2b{bottom:335.973009px;}
.y2{bottom:354.172007px;}
.y1{bottom:462.242994px;}
.y26{bottom:476.013005px;}
.y29{bottom:476.013007px;}
.y22{bottom:549.047013px;}
.y21{bottom:573.695000px;}
.y1b{bottom:591.844000px;}
.y19{bottom:675.237999px;}
.ye{bottom:693.387000px;}
.h7{height:17.649000px;}
.h9{height:24.148001px;}
.hb{height:28.515625px;}
.h4{height:35.644531px;}
.h2{height:39.208984px;}
.h6{height:42.773438px;}
.hc{height:72.533997px;}
.h8{height:82.893997px;}
.ha{height:97.181999px;}
.h3{height:103.192001px;}
.he{height:116.138000px;}
.h5{height:140.513000px;}
.hd{height:141.490005px;}
.h1{height:757.000000px;}
.h0{height:842.000000px;}
.w8{width:97.050003px;}
.w9{width:105.800003px;}
.wa{width:112.900002px;}
.wb{width:120.000000px;}
.we{width:167.449997px;}
.w3{width:180.750000px;}
.wf{width:184.500000px;}
.w10{width:197.750000px;}
.w6{width:219.199997px;}
.w7{width:233.399994px;}
.w2{width:371.100006px;}
.wd{width:549.700012px;}
.wc{width:550.200012px;}
.w4{width:550.650024px;}
.w5{width:551.150024px;}
.w1{width:574.000000px;}
.w0{width:600px; margin: 0 auto}
.x0{left:0.000000px;}
.x3{left:5.150000px;}
.x13{left:6.184000px;}
.x5{left:7.418000px;}
.x9{left:12.569000px;}
.x2{left:21.250000px;}
.x8{left:22.950001px;}
.x1{left:28.100000px;}
.x10{left:35.310000px;}
.xf{left:39.053000px;}
.x7{left:47.046999px;}
.xb{left:54.970000px;}
.xe{left:59.866999px;}
.x6{left:63.849001px;}
.xc{left:72.522002px;}
.x16{left:76.236998px;}
.xa{left:120.500004px;}
.x14{left:190.749994px;}
.x11{left:226.800007px;}
.xd{left:340.200001px;}
.x15{left:375.249994px;}
.x4{left:392.850007px;}
.x12{left:460.700001px;}
/* @media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-7.088000pt;}
._6{margin-left:-5.696000pt;}
._8{margin-left:-3.696000pt;}
._4{margin-left:-2.170667pt;}
._0{width:2.464000pt;}
._1{width:4.224000pt;}
._3{width:6.160000pt;}
._2{width:11.968000pt;}
._7{width:37.898667pt;}
.fs4{font-size:42.666667pt;}
.fs3{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs2{font-size:64.000000pt;}
.y24{bottom:2.884000pt;}
.y20{bottom:4.505325pt;}
.ya{bottom:4.505330pt;}
.y18{bottom:4.505335pt;}
.y1a{bottom:5.838666pt;}
.y36{bottom:7.172002pt;}
.y25{bottom:10.838666pt;}
.y23{bottom:18.504000pt;}
.y9{bottom:21.370667pt;}
.y1f{bottom:22.703995pt;}
.y17{bottom:22.704005pt;}
.y35{bottom:28.037338pt;}
.y8{bottom:38.236003pt;}
.y16{bottom:40.902664pt;}
.y34{bottom:46.236008pt;}
.y28{bottom:52.529330pt;}
.y7{bottom:55.101334pt;}
.y1e{bottom:59.101329pt;}
.y15{bottom:59.101334pt;}
.y33{bottom:64.434677pt;}
.y27{bottom:65.659999pt;}
.y6{bottom:71.966670pt;}
.y1d{bottom:77.299995pt;}
.y14{bottom:77.300003pt;}
.y32{bottom:82.633336pt;}
.y2a{bottom:84.263995pt;}
.y5{bottom:88.832001pt;}
.yd{bottom:91.410667pt;}
.y1c{bottom:95.498662pt;}
.y13{bottom:95.498667pt;}
.y31{bottom:100.832006pt;}
.y0{bottom:103.333333pt;}
.y37{bottom:103.793335pt;}
.y4{bottom:105.697334pt;}
.yc{bottom:107.030668pt;}
.y12{bottom:112.394669pt;}
.y30{bottom:119.030675pt;}
.y3{bottom:122.562668pt;}
.yb{bottom:123.896001pt;}
.y39{bottom:124.292000pt;}
.y3a{bottom:125.537333pt;}
.y11{bottom:130.593333pt;}
.y2f{bottom:137.229340pt;}
.y38{bottom:141.157333pt;}
.y10{bottom:148.792000pt;}
.y2e{bottom:155.428006pt;}
.yf{bottom:169.657333pt;}
.y2d{bottom:173.626673pt;}
.y2c{bottom:258.644005pt;}
.y2b{bottom:447.964012pt;}
.y2{bottom:472.229342pt;}
.y1{bottom:616.323992pt;}
.y26{bottom:634.684006pt;}
.y29{bottom:634.684009pt;}
.y22{bottom:732.062684pt;}
.y21{bottom:764.926667pt;}
.y1b{bottom:789.125334pt;}
.y19{bottom:900.317333pt;}
.ye{bottom:924.515999pt;}
.h7{height:23.532000pt;}
.h9{height:32.197334pt;}
.hb{height:38.020833pt;}
.h4{height:47.526042pt;}
.h2{height:52.278646pt;}
.h6{height:57.031250pt;}
.hc{height:96.711995pt;}
.h8{height:110.525330pt;}
.ha{height:129.575999pt;}
.h3{height:137.589335pt;}
.he{height:154.850667pt;}
.h5{height:187.350667pt;}
.hd{height:188.653341pt;}
.h1{height:1009.333333pt;}
.h0{height:1122.666667pt;}
.w8{width:129.400004pt;}
.w9{width:141.066671pt;}
.wa{width:150.533335pt;}
.wb{width:160.000000pt;}
.we{width:223.266663pt;}
.w3{width:241.000000pt;}
.wf{width:246.000000pt;}
.w10{width:263.666667pt;}
.w6{width:292.266663pt;}
.w7{width:311.199992pt;}
.w2{width:494.800008pt;}
.wd{width:732.933350pt;}
.wc{width:733.600016pt;}
.w4{width:734.200033pt;}
.w5{width:734.866699pt;}
.w1{width:765.333333pt;}
.w0{width:793.799967pt;}
.x0{left:0.000000pt;}
.x3{left:6.866667pt;}
.x13{left:8.245334pt;}
.x5{left:9.890667pt;}
.x9{left:16.758667pt;}
.x2{left:28.333334pt;}
.x8{left:30.600001pt;}
.x1{left:37.466667pt;}
.x10{left:47.080000pt;}
.xf{left:52.070667pt;}
.x7{left:62.729333pt;}
.xb{left:73.293333pt;}
.xe{left:79.822666pt;}
.x6{left:85.132002pt;}
.xc{left:96.696002pt;}
.x16{left:101.649331pt;}
.xa{left:160.666672pt;}
.x14{left:254.333325pt;}
.x11{left:302.400009pt;}
.xd{left:453.600001pt;}
.x15{left:500.333325pt;}
.x4{left:523.800009pt;}
.x12{left:614.266668pt;}
} */
